.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 20px;

  height: 100vh;

  > a,
  > div > a > button {
    appearance: none;
    text-decoration: none;

    padding: 10px 20px;

    border: 2px solid var(--secondary);

    background-color: var(--secondary);

    color: var(--white);
    font-size: 20px;

    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      color: var(--secondary);
      background-color: var(--transparent);
    }
  }
}
