:root {
  // Fonts
  --Nunito: "Nunito", sans-serif;

  // Colors
  --bg: #ebeef5;
  --white: #fff;
  --main: #42427d;
  --secondary: #7979b2;
  --secondary-soft: #a0aac8;
  --transparent: rgba(255, 255, 255, 0);
}
